* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

  color: whitesmoke;
}
.anime {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}
.container {
  display: flex;
  margin: 10px;
}
.select {
  width: 20%;
}
.no-data {
  display: grid;
  place-items: center;
  height: 100vh;
  font-size: 3rem;
  font-weight: 400;
}
.my-spinner {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
}

@media (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  .select {
    width: 100%;
  }
  .anime {
    display: grid;
    place-items: center;
  }
}
